<a href="https://colab.research.google.com/github/Hussy24/AI-Labs/blob/main/Hasnain_SmS_spam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df1 = pd.read_csv("/content/drive/MyDrive/spam.csv", encoding='latin-1')

In [ ]:
df1

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [ ]:
df1['v1'] = df1.v1.map({'ham':0, 'spam':1})
df1

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,0,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,0,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,1,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,0,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,0,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,1,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,0,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,0,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,0,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,0,Rofl. Its true to its name,NaN,NaN,NaN

In [91]:
X= df1['v2'].to_numpy()
Y = df1['v1'].to_numpy()
y = Y.astype('int')

In [92]:
print("X")
print(X)
print("y")
print(y)

X
['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'
 'Ok lar... Joking wif u oni...'
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's"
 ... 'Pity, * was in mood for that. So...any other suggestions?'
 "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free"
 'Rofl. Its true to its name']
y
[0 0 1 ... 0 0 0]

In [93]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
vec = CountVectorizer()

In [94]:
vec.fit(X)
vec.vocabulary_

{'go': 3550,
 'until': 8030,
 'jurong': 4350,
 'point': 5920,
 'crazy': 2327,
 'available': 1303,
 'only': 5537,
 'in': 4087,
 'bugis': 1751,
 'great': 3634,
 'world': 8489,
 'la': 4476,
 'buffet': 1749,
 'cine': 2048,
 'there': 7645,
 'got': 3594,
 'amore': 1069,
 'wat': 8267,
 'ok': 5504,
 'lar': 4512,
 'joking': 4318,
 'wif': 8392,
 'oni': 5533,
 'free': 3358,
 'entry': 2949,
 'wkly': 8447,
 'comp': 2165,
 'to': 7756,
 'win': 8405,
 'fa': 3087,
 'cup': 2386,
 'final': 3207,
 'tkts': 7743,
 '21st': 411,
 'may': 4930,
 '2005': 402,
 'text': 7595,
 '87121': 784,
 'receive': 6297,
 'question': 6190,
 'std': 7230,
 'txt': 7933,
 'rate': 6242,
 'apply': 1156,
 '08452810075over18': 77,
 'dun': 2802,
 'say': 6633,
 'so': 7024,
 'early': 2823,
 'hor': 3927,
 'already': 1042,
 'then': 7640,
 'nah': 5238,
 'don': 2712,
 'think': 7660,
 'he': 3781,
 'goes': 3558,
 'usf': 8075,
 'lives': 4665,
 'around': 1207,
 'here': 3831,
 'though': 7680,
 'freemsg': 3365,
 'hey': 3841,
 'darling': 2443,
 'it': 4218,
 'been': 1460,
 'week': 8313,
 'now': 5420,
 'and': 1084,
 'no': 5367,
 'word': 8480,
 'back': 1351,
 'like': 4615,
 'some': 7039,
 'fun': 3419,
 'you': 8609,
 'up': 8032,
 'for': 3308,
 'still': 7253,
 'tb': 7529,
 'xxx': 8555,
 'chgs': 2002,
 'send': 6723,
 '50': 607,
 'rcv': 6255,
 'even': 2998,
 'my': 5223,
 'brother': 1722,
 'is': 4206,
 'not': 5405,
 'speak': 7112,
 'with': 8433,
 'me': 4939,
 'they': 7653,
 'treat': 7863,
 'aids': 992,
 'patent': 5722,
 'as': 1224,
 'per': 5764,
 'your': 8615,
 'request': 6406,
 'melle': 4969,
 'oru': 5593,
 'minnaminunginte': 5036,
 'nurungu': 5440,
 'vettam': 8131,
 'has': 3757,
 'set': 6750,
 'callertune': 1823,
 'all': 1029,
 'callers': 1822,
 'press': 6041,
 'copy': 2266,
 'friends': 3381,
 'winner': 8416,
 'valued': 8100,
 'network': 5317,
 'customer': 2399,
 'have': 3770,
 'selected': 6709,
 'receivea': 6298,
 '900': 816,
 'prize': 6073,
 'reward': 6461,
 'claim': 2054,
 'call': 1813,
 '09061701461': 224,
 'code': 2120,
 'kl341': 4439,
 'valid': 8096,
 '12': 322,
 'hours': 3947,
 'had': 3699,
 'mobile': 5089,
 '11': 312,
 'months': 5129,
 'or': 5570,
 'more': 5133,
 'entitled': 2946,
 'update': 8037,
 'the': 7627,
 'latest': 4526,
 'colour': 2141,
 'mobiles': 5090,
 'camera': 1835,
 'co': 2109,
 'on': 5525,
 '08002986030': 61,
 'gonna': 3574,
 'be': 1438,
 'home': 3901,
 'soon': 7066,
 'want': 8245,
 'talk': 7496,
 'about': 859,
 'this': 7669,
 'stuff': 7320,
 'anymore': 1123,
 'tonight': 7792,
 've': 8115,
 'cried': 2344,
 'enough': 2936,
 'today': 7763,
 'six': 6928,
 'chances': 1943,
 'cash': 1889,
 'from': 3397,
 '100': 298,
 '20': 397,
 '000': 1,
 'pounds': 5982,
 'csh11': 2363,
 '87575': 789,
 'cost': 2278,
 '150p': 351,
 'day': 2458,
 '6days': 680,
 '16': 363,
 'tsandcs': 7898,
 'reply': 6399,
 'hl': 3873,
 'info': 4122,
 'urgent': 8055,
 'won': 8464,
 'membership': 4975,
 'our': 5606,
 'jackpot': 4247,
 '81010': 737,
 'www': 8537,
 'dbuk': 2463,
 'net': 5311,
 'lccltd': 4543,
 'pobox': 5899,
 '4403ldnw1a7rw18': 559,
 'searching': 6678,
 'right': 6473,
 'words': 8481,
 'thank': 7612,
 'breather': 1691,
 'promise': 6105,
 'wont': 8471,
 'take': 7488,
 'help': 3817,
 'granted': 3623,
 'will': 8402,
 'fulfil': 3415,
 'wonderful': 8468,
 'blessing': 1567,
 'at': 1260,
 'times': 7722,
 'date': 2451,
 'sunday': 7388,
 'xxxmobilemovieclub': 8556,
 'use': 8069,
 'credit': 2334,
 'click': 2077,
 'wap': 8250,
 'link': 4637,
 'next': 5334,
 'message': 4993,
 'http': 3968,
 'com': 2144,
 'qjkgighjjgcbl': 6182,
 'oh': 5499,
 'watching': 8272,
 'eh': 2870,
 'remember': 6366,
 'how': 3953,
 'spell': 7127,
 'his': 3864,
 'name': 5244,
 'yes': 8592,
 'did': 2592,
 'naughty': 5271,
 'make': 4848,
 'wet': 8350,
 'fine': 3215,
 'if': 4041,
 'thatåõs': 7625,
 'way': 8284,
 'feel': 3158,
 'its': 4225,
 'gota': 3595,
 'england': 2927,
 'macedonia': 4810,
 'dont': 2716,
 'miss': 5052,
 'goals': 3554,
 'team': 7541,
 'news': 5330,
 'ur': 8051,
 'national': 5265,
 '87077': 783,
 'eg': 2865,
 'try': 7894,
 'wales': 8225,
 'scotland': 6657,
 '4txt': 599,
 'ì¼1': 8659,
 'poboxox36504w45wq': 5911,
 'that': 7621,
 'seriously': 6743,
 'going': 3563,
 'ha': 3695,
 'ì_': 8658,
 'pay': 5734,
 'first': 3232,
 'when': 8362,
 'da': 2416,
 'stock': 7256,
 'comin': 2155,
 'aft': 962,
 'finish': 3218,
 'lunch': 4776,
 'str': 7281,
 'down': 2737,
 'lor': 4719,
 'ard': 1182,
 'smth': 7007,
 'ffffffffff': 3177,
 'alright': 1043,
 'can': 1839,
 'meet': 4958,
 'sooner': 7067,
 'just': 4352,
 'forced': 3310,
 'myself': 5228,
 'eat': 2835,
 'slice': 6959,
 'really': 6280,
 'hungry': 3988,
 'tho': 7676,
 'sucks': 7357,
 'mark': 4885,
 'getting': 3511,
 'worried': 8492,
 'knows': 4450,
 'sick': 6877,
 'turn': 7917,
 'pizza': 5854,
 'lol': 4696,
 'always': 1052,
 'convincing': 2254,
 'catch': 1899,
 'bus': 1771,
 'are': 1183,
 'frying': 3403,
 'an': 1079,
 'egg': 2867,
 'tea': 7535,
 'eating': 2838,
 'mom': 5110,
 'left': 4566,
 'over': 5627,
 'dinner': 2624,
 'do': 2675,
 'love': 4740,
 'amp': 1071,
 'we': 8289,
 're': 6259,
 'packing': 5653,
 'car': 1861,
 'll': 4669,
 'let': 4587,
 'know': 4447,
 'room': 6514,
 'ahhh': 987,
 'work': 8482,
 'vaguely': 8092,
 'what': 8355,
 'does': 2687,
 'wait': 8219,
 'clear': 2071,
 'were': 8339,
 'sure': 7414,
 'being': 1478,
 'sarcastic': 6613,
 'why': 8385,
 'doesn': 2689,
 'live': 4661,
 'us': 8065,
 'yeah': 8580,
 'was': 8259,
 'apologetic': 1143,
 'fallen': 3112,
 'out': 5609,
 'she': 6795,
 'actin': 904,
 'spoilt': 7154,
 'child': 2010,
 'caught': 1903,
 'till': 7719,
 'but': 1778,
 'doing': 2702,
 'too': 7796,
 'badly': 1356,
 'cheers': 1986,
 'tell': 7559,
 'anything': 1129,
 'fear': 3150,
 'of': 5477,
 'fainting': 3104,
 'housework': 3951,
 'quick': 6193,
 'cuppa': 2388,
 'thanks': 7613,
 'subscription': 7345,
 'ringtone': 6482,
 'uk': 7963,
 'charged': 1955,
 'month': 5126,
 'please': 5879,
 'confirm': 2209,
 'by': 1794,
 'replying': 6400,
 'yup': 8637,
 'look': 4707,
 'timings': 7726,
 'msg': 5168,
 'again': 970,
 'xuhui': 8551,
 'learn': 4556,
 '2nd': 461,
 'her': 3830,
 'lesson': 4585,
 '8am': 809,
 'oops': 5548,
 'roommate': 6516,
 'done': 2714,
 'see': 6695,
 'letter': 4589,
 'decide': 2481,
 'hello': 3814,
 'saturday': 6625,
 'texting': 7603,
 'decided': 2482,
 'tomo': 7781,
 'trying': 7896,
 'invite': 4180,
 'pls': 5887,
 'ahead': 986,
 'watts': 8280,
 'wanted': 8247,
 'weekend': 8315,
 'abiola': 855,
 'forget': 3316,
 'need': 5291,
 'crave': 2324,
 'most': 5141,
 'sweet': 7445,
 'arabian': 1179,
 'steed': 7237,
 'mmmmmm': 5079,
 'yummy': 8632,
 '07732584351': 30,
 'rodger': 6504,
 'burns': 1768,
 'tried': 7872,
 'sms': 7002,
 'nokia': 5377,
 'camcorder': 1833,
 '08000930705': 57,
 'delivery': 2521,
 'tomorrow': 7783,
 'who': 8378,
 'seeing': 6697,
 'hope': 3919,
 'man': 4858,
 'well': 8330,
 'endowed': 2917,
 'am': 1054,
 'lt': 4763,
 'gt': 3663,
 'inches': 4091,
 'calls': 1828,
 'messages': 4995,
 'missed': 5054,
 'didn': 2594,
 'get': 3503,
 'hep': 3829,
 'immunisation': 4070,
 'nigeria': 5344,
 'fair': 3105,
 'hopefully': 3922,
 'tyler': 7946,
 'could': 2289,
 'maybe': 4932,
 'ask': 1234,
 'bit': 1544,
 'stubborn': 7309,
 'hospital': 3934,
 'kept': 4396,
 'telling': 7560,
 'weak': 8290,
 'sucker': 7355,
 'hospitals': 3935,
 'suckers': 7356,
 'thinked': 7661,
 'time': 7721,
 'saw': 6632,
 'class': 2063,
 'gram': 3615,
 'usually': 8081,
 'runs': 6557,
 'half': 3711,
 'eighth': 2873,
 'smarter': 6982,
 'gets': 3507,
 'almost': 1038,
 'whole': 8379,
 'second': 6682,
 'fyi': 3435,
 'ride': 6472,
 'morning': 5137,
 'crashing': 2323,
 'place': 5856,
 'wow': 8508,
 'never': 5321,
 'realized': 6278,
 'embarassed': 2898,
 'accomodations': 886,
 'thought': 7681,
 'liked': 4616,
 'since': 6902,
 'best': 1498,
 'seemed': 6701,
 'happy': 3746,
 'cave': 1907,
 'sorry': 7076,
 'give': 3532,
 'offered': 5484,
 'embarassing': 2899,
 'ac': 872,
 'sptv': 7176,
 'new': 5325,
 'jersey': 4288,
 'devils': 2573,
 'detroit': 2567,
 'red': 6320,
 'wings': 8414,
 'play': 5870,
 'ice': 4022,
 'hockey': 3886,
 'correct': 2271,
 'incorrect': 4102,
 'end': 2913,
 'mallika': 4857,
 'sherawat': 6802,
 'yesterday': 8594,
 'find': 3212,
 'url': 8061,
 'congrats': 2215,
 'year': 8581,
 'special': 7114,
 'cinema': 2049,
 'pass': 5711,
 'yours': 8619,
 '09061209465': 219,
 'suprman': 7412,
 'matrix3': 4918,
 'starwars3': 7218,
 'etc': 2986,
 'bx420': 1792,
 'ip4': 4189,
 '5we': 641,
 '150pm': 353,
 'later': 4525,
 'meeting': 4960,
 'where': 8366,
 'reached': 6262,
 'gauti': 3469,
 'sehwag': 6706,
 'odi': 5476,
 'series': 6741,
 'pick': 5826,
 'burger': 1763,
 'yourself': 8620,
 'move': 5154,
 'pain': 5660,
 'killing': 4421,
 'good': 3576,
 'joke': 4314,
 'girls': 3529,
 'situation': 6925,
 'seekers': 6698,
 'part': 5700,
 'checking': 1980,
 'iq': 4195,
 'roommates': 6517,
 'took': 7797,
 'forever': 3313,
 'come': 2150,
 'double': 2730,
 'check': 1976,
 'hair': 3706,
 'dresser': 2760,
 'said': 6583,
 'wun': 8536,
 'cut': 2403,
 'short': 6837,
 'nice': 5338,
 'pleased': 5880,
 'advise': 945,
 'following': 3291,
 'recent': 6301,
 'review': 6459,
 'mob': 5087,
 'awarded': 1320,
 '1500': 350,
 'bonus': 1608,
 '09066364589': 267,
 'song': 7061,
 'dedicated': 2492,
 'which': 8372,
 'dedicate': 2491,
 'valuable': 8098,
 'frnds': 3389,
 'rply': 6533,
 'complimentary': 2184,
 'trip': 7873,
 'eurodisinc': 2992,
 'trav': 7855,
 'aco': 900,
 'entry41': 2950,
 '1000': 299,
 'dis': 2636,
 '18': 368,
 'morefrmmob': 5134,
 'shracomorsglsuplt': 6862,
 '10': 297,
 'ls1': 4759,
 '3aj': 518,
 'hear': 3793,
 'divorce': 2665,
 'barbie': 1387,
 'comes': 2152,
 'ken': 4394,
 'plane': 5862,
 'wah': 8212,
 'lucky': 4770,
 'save': 6628,
 'money': 5117,
 'hee': 3806,
 'finished': 3220,
 'hi': 3846,
 'babe': 1342,
 'im': 4058,
 'wanna': 8243,
 'something': 7049,
 'xx': 8552,
 'performed': 5771,
 'waiting': 8222,
 'machan': 4812,
 'once': 5529,
 'thats': 7624,
 'cool': 2259,
 'gentleman': 3494,
 'dignity': 2614,
 'respect': 6426,
 'peoples': 5763,
 'very': 8130,
 'much': 5186,
 'shy': 6872,
 'pa': 5649,
 'operate': 5555,
 'after': 963,
 'same': 6598,
 'looking': 4711,
 'job': 4303,
 'ta': 7473,
 'earn': 2824,
 'ah': 984,
 'stop': 7266,
 'urgnt': 8058,
 'real': 6271,
 'yo': 8604,
 'tickets': 7709,
 'one': 5531,
 'jacket': 4246,
 'used': 8070,
 'multis': 5195,
 'started': 7213,
 'requests': 6407,
 'came': 1834,
 'bed': 1455,
 'coins': 2126,
 'factory': 3094,
 'gotta': 3600,
 'nitros': 5362,
 'ela': 2878,
 'kano': 4375,
 'il': 4053,
 'download': 2738,
 'wen': 8333,
 'stand': 7201,
 'close': 2084,
 'another': 1106,
 'night': 5346,
 'spent': 7132,
 'late': 4522,
 'afternoon': 965,
 'casualty': 1897,
 'means': 4946,
 'haven': 3771,
 'any': 1120,
 'stuff42moro': 7321,
 'includes': 4095,
 'sheets': 6797,
 'smile': 6990,
 'pleasure': 5882,
 'trouble': 7880,
 'pours': 5984,
 'rain': 6216,
 'sum1': 7379,
 'hurts': 3998,
 'becoz': 1453,
 'someone': 7043,
 'loves': 4748,
 'smiling': 6994,
 'service': 6746,
 'representative': 6404,
 '0800': 53,
 '169': 366,
 '6031': 647,
 'between': 1507,
 '10am': 307,
 '9pm': 835,
 'guaranteed': 3666,
 '5000': 609,
 'havent': 3772,
 'planning': 5866,
 'buy': 1783,
 'lido': 4600,
 '530': 627,
 'show': 6853,
 'collected': 2135,
 'simply': 6899,
 'password': 5718,
 'mix': 5070,
 '85069': 770,
 'verify': 8126,
 'usher': 8076,
 'britney': 1712,
 'fml': 3282,
 'telugu': 7565,
 'movie': 5157,
 'abt': 867,
 'loads': 4675,
 'loans': 4677,
 'wk': 8443,
 'hols': 3899,
 'run': 6555,
 'forgot': 3321,
 'hairdressers': 3708,
 'appointment': 1159,
 'four': 3339,
 'shower': 6855,
 'beforehand': 1467,
 'cause': 1904,
 'prob': 6078,
 'ham': 3717,
 'nothing': 5410,
 'else': 2892,
 'okay': 5505,
 'price': 6054,
 'long': 4703,
 'legal': 4569,
 'them': 7636,
 'ave': 1307,
 'ams': 1075,
 'gone': 3572,
 '4the': 597,
 'driving': 2769,
 'test': 7589,
 'yet': 8595,
 'mean': 4942,
 'guess': 3672,
 'gave': 3470,
 'boston': 1629,
 'men': 4979,
 'changed': 1945,
 'search': 6677,
 'location': 4680,
 'nyc': 5451,
 'cuz': 2410,
 'signin': 6887,
 'page': 5656,
 'says': 6636,
 'umma': 7970,
 'life': 4603,
 'vava': 8112,
 'lot': 4727,
 'dear': 2471,
 'wishes': 8427,
 'birthday': 1542,
 'making': 4852,
 'truly': 7889,
 'memorable': 4976,
 'aight': 994,
 'hit': 3866,
 'would': 8504,
 'ip': 4188,
 'address': 922,
 'considering': 2227,
 'computer': 2190,
 'isn': 4213,
 'minecraft': 5030,
 'server': 6745,
 'grumpy': 3660,
 'old': 5517,
 'people': 5762,
 'better': 1504,
 'lying': 4790,
 'jokes': 4316,
 'worry': 8494,
 'busy': 1777,
 'plural': 5891,
 'noun': 5417,
 'research': 6412,
 'cos': 2276,
 'things': 7659,
 'scared': 6642,
 'mah': 4835,
 'loud': 4735,
 'gent': 3492,
 'contact': 2232,
 'last': 4519,
 'weekends': 8316,
 'draw': 2752,
 'shows': 6861,
 '09064012160': 243,
 'k52': 4358,
 '12hrs': 333,
 '150ppm': 355,
 'wa': 8207,
 'openin': 5552,
 'sentence': 6734,
 'formal': 3325,
 'anyway': 1132,
 'juz': 4357,
 'tt': 7904,
 'eatin': 2837,
 'puttin': 6171,
 'weight': 8321,
 'haha': 3702,
 'anythin': 1128,
 'happened': 3738,
 'entered': 2939,
 'cabin': 1801,
 'boss': 1628,
 'felt': 3167,
 'askd': 1235,
 'invited': 4181,
 'apartment': 1137,
 'went': 8336,
 'specially': 7118,
 'holiday': 3896,
 'flights': 3258,
 'inc': 4089,
 'operator': 5556,
 '0871277810910p': 129,
 'min': 5023,
 'goodo': 3585,
 'must': 5214,
 'friday': 3376,
 'potato': 5976,
 'ratio': 6245,
 'tortilla': 7814,
 'needed': 5293,
 'hmm': 3878,
 'uncle': 7979,
 'informed': 4125,
 'paying': 5739,
 'school': 6648,
 'directly': 2630,
 'food': 3298,
 'private': 6070,
 '2004': 401,
 'account': 889,
 'statement': 7221,
 '07742676969': 32,
 '786': 709,
 'unredeemed': 8023,
 'points': 5921,
 '08719180248': 175,
 'identifier': 4034,
 '45239': 570,
 'expires': 3065,
 '2000': 399,
 'caller': 1821,
 '03': 15,
 'landline': 4499,
 '09064019788': 249,
 'box42wr29c': 1655,
 'apples': 1154,
 'pairs': 5664,
 'malarky': 4854,
 'todays': 7764,
 'voda': 8176,
 'numbers': 5437,
 'ending': 2915,
 '7548': 701,
 '350': 506,
 'award': 1319,
 'match': 4906,
 '08712300220': 111,
 'quoting': 6204,
 '4041': 543,
 'standard': 7202,
 'rates': 6243,
 'app': 1147,
 'sao': 6607,
 'mu': 5184,
 'ìï': 8661,
 'predict': 6016,
 'buying': 1786,
 'yetunde': 8597,
 'hasn': 3759,
 'sent': 6733,
 'bother': 1632,
 'sending': 6725,
 'involve': 4185,
 'shouldn': 6848,
 'imposed': 4077,
 'apologise': 1144,
 'girl': 3526,
 'del': 2511,
 'bak': 1364,
 'sum': 7378,
 'lucyxx': 4773,
 'tmorrow': 7749,
 'accomodate': 885,
 'answer': 1109,
 'sunshine': 7395,
 'quiz': 6200,
 'top': 7805,
 'sony': 7063,
 'dvd': 2812,
 'player': 5872,
 'country': 2296,
 'algarve': 1022,
 'ansr': 1108,
 '82277': 744,
 'sp': 7099,
 'tyrone': 7950,
 'laid': 4491,
 'dogging': 2696,
 'locations': 4681,
 'direct': 2629,
 'join': 4311,
 'largest': 4516,
 'bt': 1738,
 'txting': 7939,
 'gravel': 3628,
 '69888': 675,
 'nt': 5427,
 'ec2a': 2840,
 '31p': 498,
 'haf': 3701,
 'msn': 5175,
 'yijue': 8601,
 'hotmail': 3942,
 'him': 3857,
 'rooms': 6518,
 'befor': 1465,
 'activities': 910,
 'msgs': 5174,
 'chat': 1966,
 'svc': 7430,
 'hardcore': 3748,
 'services': 6747,
 '69988': 679,
 'age': 973,
 'yr': 8627,
 'lazy': 4542,
 'type': 7947,
 'lect': 4563,
 'pouch': 5979,
 'sir': 6914,
 'mail': 4840,
 'swt': 7459,
 'nver': 5445,
 'tired': 7729,
 'little': 4660,
 'lovable': 4739,
 'persons': 5789,
 'coz': 2309,
 'somtimes': 7058,
 'those': 7677,
 'occupy': 5469,
 'biggest': 1524,
 'their': 7633,
 'hearts': 3799,
 'gud': 3668,
 'ni8': 5336,
 'open': 5549,
 'ya': 8565,
 'dot': 2729,
 'whats': 8357,
 'staff': 7193,
 'taking': 7493,
 'replied': 6397,
 'randy': 6236,
 'sexy': 6763,
 'female': 3168,
 'local': 4679,
 'luv': 4781,
 'netcollex': 5312,
 'ltd': 4764,
 '08700621170150p': 81,
 'ummma': 7972,
 'begin': 1471,
 'qatar': 6177,
 'pray': 6011,
 'hard': 3747,
 'deleted': 2515,
 'sindu': 6904,
 'birla': 1538,
 'soft': 7029,
 'wine': 8412,
 'flowing': 3273,
 'nevering': 5322,
 'thk': 7670,
 'plaza': 5877,
 'typical': 7949,
 'everywhere': 3016,
 'dirt': 2633,
 'floor': 3267,
 'windows': 8409,
 'shirt': 6816,
 'sometimes': 7051,
 'mouth': 5153,
 'dream': 2755,
 'without': 8437,
 'chores': 2037,
 'joy': 4329,
 'lots': 4729,
 'tv': 7922,
 'exist': 3050,
 ...}

In [95]:
import nltk
from nltk.tokenize import TweetTokenizer
from sklearn.feature_extraction.text import TfidfVectorizer
def tokenizer(text):
    tok = TweetTokenizer()
    return tok.tokenize(text)

vec = TfidfVectorizer(ngram_range=(1,1), stop_words='english', tokenizer=tokenizer)
vec.fit(X)
vec.vocabulary_

{'jurong': 4523,
 'point': 6078,
 ',': 13,
 'crazy': 2480,
 '..': 21,
 'available': 1486,
 'bugis': 1908,
 'n': 5413,
 'great': 3771,
 'world': 8655,
 'la': 4656,
 'e': 2976,
 'buffet': 1906,
 '...': 25,
 'cine': 2209,
 'got': 3732,
 'amore': 1265,
 'wat': 8437,
 'ok': 5676,
 'lar': 4693,
 'joking': 4490,
 'wif': 8558,
 'u': 8109,
 'oni': 5705,
 'free': 3494,
 'entry': 3105,
 '2': 471,
 'wkly': 8611,
 'comp': 2317,
 'win': 8572,
 'fa': 3231,
 'cup': 2537,
 'final': 3348,
 'tkts': 7905,
 '21st': 496,
 '2005': 486,
 '.': 15,
 'text': 7763,
 '87121': 937,
 'receive': 6462,
 'question': 6351,
 '(': 9,
 'std': 7399,
 'txt': 8093,
 'rate': 6405,
 ')': 10,
 't': 7634,
 '&': 7,
 "c's": 1954,
 'apply': 1342,
 '08452810075': 115,
 '18': 438,
 "'": 8,
 's': 6733,
 'dun': 2962,
 'say': 6804,
 'early': 2988,
 'hor': 4069,
 'c': 1953,
 'nah': 5425,
 "don't": 2873,
 'think': 7825,
 'goes': 3696,
 'usf': 8243,
 'lives': 4844,
 'freemsg': 3503,
 'hey': 3981,
 'darling': 2595,
 "it's": 4382,
 '3': 584,
 "week's": 8487,
 'word': 8645,
 '!': 0,
 "i'd": 4169,
 'like': 4794,
 'fun': 3560,
 '?': 1026,
 'tb': 7699,
 'xxx': 8774,
 'chgs': 2162,
 'send': 6891,
 'å': 8891,
 '£': 8886,
 '1.50': 344,
 'rcv': 6417,
 'brother': 1878,
 'speak': 7277,
 'treat': 8029,
 'aids': 1195,
 'patent': 5892,
 'request': 6570,
 'melle': 5147,
 'oru': 5764,
 'minnaminunginte': 5216,
 'nurungu': 5613,
 'vettam': 8302,
 'set': 6917,
 'callertune': 1980,
 'callers': 1979,
 'press': 6198,
 '*': 11,
 '9': 971,
 'copy': 2420,
 'friends': 3523,
 'winner': 8582,
 'valued': 8273,
 'network': 5495,
 'customer': 2549,
 'selected': 6877,
 'receivea': 6463,
 '900': 975,
 'prize': 6230,
 'reward': 6625,
 'claim': 2215,
 '09061701461': 263,
 'code': 2275,
 'kl341': 4616,
 'valid': 8269,
 '12': 384,
 'hours': 4088,
 'mobile': 5270,
 '11': 371,
 'months': 5313,
 'r': 6367,
 'entitled': 3102,
 'update': 8204,
 'latest': 4706,
 'colour': 2295,
 'mobiles': 5271,
 'camera': 1992,
 '08002986030': 99,
 "i'm": 4171,
 'gonna': 3711,
 'home': 4039,
 'soon': 7230,
 'want': 8416,
 'talk': 7665,
 'stuff': 7488,
 'anymore': 1313,
 'tonight': 7956,
 'k': 4530,
 "i've": 4173,
 'cried': 2497,
 'today': 7923,
 'chances': 2104,
 'cash': 2048,
 '100': 354,
 '20,000': 481,
 'pounds': 6138,
 '>': 1024,
 'csh': 2514,
 '87575': 941,
 'cost': 2432,
 '150p': 415,
 '/': 27,
 'day': 2611,
 '6days': 816,
 '16': 431,
 '+': 12,
 'tsandcs': 8062,
 'reply': 6562,
 'hl': 4011,
 '4': 652,
 'info': 4284,
 'urgent': 8221,
 'won': 8628,
 '1': 337,
 'week': 8486,
 'membership': 5153,
 '100,000': 355,
 'jackpot': 4413,
 ':': 994,
 '81010': 889,
 'www.dbuk.net': 8716,
 'lccltd': 4723,
 'pobox': 6068,
 '4403ldnw1a7rw18': 689,
 'searching': 6849,
 'right': 6637,
 'words': 8646,
 'thank': 7779,
 'breather': 1848,
 'promise': 6266,
 'wont': 8636,
 'help': 3958,
 'granted': 3760,
 'fulfil': 3557,
 'wonderful': 8633,
 'blessing': 1740,
 'times': 7884,
 'date': 2604,
 'sunday': 7551,
 'xxxmobilemovieclub': 8775,
 'use': 8237,
 'credit': 2487,
 'click': 2238,
 'wap': 8420,
 'link': 4817,
 'message': 5172,
 'http://wap': 4118,
 'xxxmobilemovieclub.com': 8776,
 '=': 1020,
 'qjkgighjjgcbl': 6343,
 'oh': 5671,
 'watching': 8444,
 ':)': 996,
 'eh': 3034,
 'remember': 6529,
 'spell': 7293,
 'yes': 8814,
 'did': 2747,
 'v': 8257,
 'naughty': 5453,
 'make': 5028,
 'wet': 8525,
 'fine': 3355,
 'thatåõs': 7793,
 'way': 8454,
 'feel': 3303,
 'gota': 3733,
 'b': 1516,
 'england': 3084,
 'macedonia': 4992,
 '-': 14,
 'dont': 2876,
 'miss': 5232,
 'goals': 3689,
 'team': 7712,
 'news': 5507,
 'ur': 8218,
 'national': 5447,
 '87077': 936,
 'try': 8058,
 'wales': 8396,
 'scotland': 6828,
 '4txt': 727,
 'ì': 8898,
 '¼': 8890,
 '1.20': 342,
 'poboxox': 6069,
 '36504w45wq': 622,
 'seriously': 6910,
 '\x89': 8883,
 'û': 8907,
 '÷': 8906,
 'm': 4975,
 'going': 3700,
 'ha': 3837,
 'ì_': 8899,
 'pay': 5905,
 'da': 2568,
 'stock': 7425,
 'comin': 2307,
 'aft': 1167,
 'finish': 3359,
 'lunch': 4957,
 'str': 7449,
 'lor': 4897,
 'ard': 1369,
 'smth': 7176,
 'ffffffffff': 3321,
 'alright': 1245,
 'meet': 5135,
 'sooner': 7232,
 'just': 4525,
 'forced': 3446,
 'eat': 3000,
 'slice': 7126,
 'really': 6445,
 'hungry': 4145,
 'tho': 7839,
 'sucks': 7524,
 'mark': 5064,
 'getting': 3647,
 'worried': 8659,
 'knows': 4627,
 'sick': 7046,
 'turn': 8080,
 'pizza': 6021,
 'lol': 4874,
 'convincing': 2407,
 'catch': 2060,
 'bus': 1928,
 'frying': 3544,
 'egg': 3029,
 'tea': 7706,
 'eating': 3003,
 "mom's": 5292,
 'left': 4742,
 'dinner': 2783,
 'love': 4919,
 "we're": 8460,
 'packing': 5819,
 'car': 2017,
 "i'll": 4170,
 'let': 4763,
 'know': 4624,
 "there's": 7810,
 'room': 6680,
 'ahhh': 1190,
 'work': 8648,
 'vaguely': 8264,
 'does': 2847,
 'wait': 8390,
 "that's": 7789,
 'clear': 2232,
 'sure': 7578,
 'sarcastic': 6782,
 'x': 8753,
 "doesn't": 2850,
 'live': 4840,
 'yeah': 8802,
 'apologetic': 1330,
 'fallen': 3255,
 'actin': 1109,
 'spoilt': 7320,
 'child': 2170,
 'caught': 2064,
 'till': 7878,
 "won't": 8629,
 'doing': 2863,
 'badly': 1543,
 'cheers': 2146,
 'tell': 7729,
 'fear': 3294,
 'fainting': 3247,
 'housework': 4093,
 'quick': 6354,
 'cuppa': 2539,
 'thanks': 7780,
 'subscription': 7513,
 'ringtone': 6646,
 'uk': 8129,
 'charged': 2116,
 '5': 735,
 'month': 5308,
 'confirm': 2362,
 'replying': 6564,
 'yup': 8865,
 'look': 4885,
 'timings': 7888,
 'msg': 5352,
 'xuhui': 8770,
 'learn': 4734,
 '2nd': 561,
 'lesson': 4761,
 '8am': 963,
 'oops': 5718,
 "roommate's": 6683,
 'letter': 4766,
 'decide': 2638,
 'hello': 3953,
 "how's": 4096,
 'saturday': 6795,
 'texting': 7770,
 "you'd": 8834,
 'decided': 2639,
 'tomo': 7945,
 'trying': 8060,
 'invite': 4342,
 'pls': 6055,
 'ahead': 1189,
 'watts': 8452,
 'wanted': 8417,
 'weekend': 8490,
 'abiola': 1061,
 'forget': 3452,
 'need': 5472,
 'crave': 2477,
 'sweet': 7609,
 'arabian': 1366,
 'steed': 7406,
 'mmmmmm': 5260,
 'yummy': 8860,
 '07732584351': 62,
 'rodger': 6669,
 'burns': 1925,
 'tried': 8038,
 'sms': 7170,
 'nokia': 5556,
 'camcorder': 1990,
 '08000930705': 95,
 'delivery': 2677,
 'tomorrow': 7947,
 'seeing': 6868,
 'hope': 4061,
 'man': 5038,
 'endowed': 3074,
 '<#>': 1013,
 'inches': 4253,
 'calls': 1986,
 'messages': 5176,
 'missed': 5235,
 "didn't": 2752,
 'hep': 3966,
 'immunisation': 4233,
 'nigeria': 5522,
 'fair': 3248,
 'hopefully': 4064,
 'tyler': 8103,
 "can't": 1996,
 'maybe': 5108,
 'ask': 1419,
 'bit': 1717,
 'stubborn': 7477,
 'hospital': 4076,
 'kept': 4575,
 'telling': 7730,
 'weak': 8462,
 'sucker': 7522,
 'hospitals': 4077,
 'suckers': 7523,
 'thinked': 7826,
 'time': 7880,
 'saw': 6803,
 'class': 2224,
 'gram': 3752,
 'usually': 8249,
 'runs': 6723,
 'half': 3852,
 'eighth': 3036,
 'smarter': 7149,
 'gets': 3643,
 'second': 6853,
 'fyi': 3575,
 'ride': 6636,
 'morning': 5321,
 "he's": 3920,
 'crashing': 2476,
 'place': 6023,
 'wow': 8674,
 'realized': 6443,
 'embarassed': 3057,
 'accomodations': 1090,
 'thought': 7842,
 'liked': 4795,
 'best': 1674,
 'happy': 3886,
 '\\': 1039,
 'cave': 2068,
 '"': 1,
 'sorry': 7241,
 'offered': 5657,
 'embarassing': 3058,
 'ac': 1076,
 'sptv': 7342,
 'new': 5502,
 'jersey': 4456,
 'devils': 2728,
 'detroit': 2722,
 'red': 6485,
 'wings': 8580,
 'play': 6038,
 'ice': 4187,
 'hockey': 4024,
 'correct': 2425,
 'incorrect': 4264,
 'end': 3070,
 'mallika': 5037,
 'sherawat': 6969,
 'yesterday': 8818,
 '@': 1027,
 '<url>': 1019,
 'congrats': 2368,
 'year': 8803,
 'special': 7279,
 'cinema': 2210,
 'pass': 5880,
 '09061209465': 258,
 'suprman': 7576,
 'matrix': 5097,
 'starwars': 7386,
 'bx420': 1947,
 'ip4': 4351,
 '5we': 770,
 '150pm': 417,
 'later': 4705,
 'meeting': 5137,
 'reached': 6427,
 'gauti': 3610,
 'sehwag': 6874,
 'odi': 5651,
 'series': 6909,
 'pick': 5994,
 '$': 5,
 'burger': 1920,
 'pain': 5826,
 'killing': 4599,
 'good': 3713,
 'joke': 4484,
 'girls': 3665,
 'situation': 7093,
 'seekers': 6869,
 'checking': 2140,
 'iq': 4357,
 'roommates': 6684,
 'took': 7964,
 'forever': 3449,
 'come': 2302,
 'double': 2889,
 'check': 2136,
 'hair': 3847,
 'dresser': 2920,
 'said': 6754,
 'wun': 8701,
 'cut': 2553,
 'short': 7008,
 'nice': 5515,
 'pleased': 6048,
 'advise': 1150,
 'following': 3428,
 'recent': 6466,
 'review': 6623,
 'mob': 5268,
 'awarded': 1504,
 '1500': 414,
 'bonus': 1782,
 '09066364589': 306,
 'song': 7225,
 'dedicated': 2649,
 'dedicate': 2648,
 'valuable': 8270,
 'frnds': 3531,
 'rply': 6699,
 'complimentary': 2337,
 'trip': 8039,
 'eurodisinc': 3143,
 'trav': 8021,
 'aco': 1106,
 '41': 672,
 '1000': 356,
 'dis': 2796,
 '6': 774,
 'morefrmmob': 5318,
 'shracomorsglsuplt': 7031,
 '10': 350,
 'ls1': 4940,
 '3aj': 631,
 'hear': 3932,
 'divorce': 2825,
 'barbie': 1574,
 'comes': 2304,
 "ken's": 4573,
 'plane': 6030,
 'wah': 8383,
 'lucky': 4950,
 'save': 6799,
 'money': 5299,
 'hee': 3945,
 'finished': 3361,
 'hi': 3986,
 'babe': 1529,
 'im': 4222,
 'wanna': 8414,
 'xx': 8771,
 'performed': 5940,
 'waiting': 8393,
 'machan': 4994,
 'thats': 7792,
 'cool': 2412,
 'gentleman': 3632,
 'dignity': 2773,
 'respect': 6590,
 'peoples': 5933,
 'shy': 7040,
 'pa': 5814,
 'operate': 5725,
 'looking': 4889,
 'job': 4471,
 "ta's": 7641,
 'earn': 2989,
 'ah': 1185,
 'stop': 7435,
 'urgnt': 8225,
 'real': 6437,
 'yo': 8828,
 'tickets': 7868,
 'jacket': 4412,
 'used': 8238,
 'multis': 5376,
 'started': 7380,
 'requests': 6571,
 'came': 1991,
 'bed': 1635,
 'coins': 2281,
 'factory': 3238,
 'gotta': 3737,
 'nitros': 5541,
 'ela': 3040,
 'kano': 4555,
 'il': 4217,
 'download': 2897,
 'wen': 8509,
 'don': 2872,
 'stand': 7368,
 'close': 2245,
 'll': 4848,
 'night': 5524,
 'spent': 7298,
 'late': 4702,
 'afternoon': 1169,
 'casualty': 2058,
 'means': 5124,
 "haven't": 3909,
 'y': 8784,
 '42moro': 682,
 'includes': 4257,
 'sheets': 6964,
 'smile': 7157,
 'pleasure': 6050,
 'trouble': 8045,
 'pours': 6140,
 'rain': 6379,
 'sum': 7544,
 'hurts': 4155,
 'becoz': 1633,
 'loves': 4928,
 'smiling': 7161,
 'service': 6913,
 'representative': 6568,
 '0800 169 6031': 86,
 '10am': 365,
 '9pm': 990,
 'guaranteed': 3806,
 '5000': 745,
 'havent': 3910,
 'planning': 6034,
 'buy': 1938,
 'lido': 4777,
 '530': 756,
 'collected': 2289,
 'simply': 7067,
 'password': 5888,
 'mix': 5251,
 '85069': 923,
 'verify': 8298,
 'usher': 8244,
 'britney': 1868,
 'fml': 3419,
 'telugu': 7735,
 'movie': 5340,
 'abt': 1071,
 'loads': 4853,
 'loans': 4855,
 'wk': 8606,
 'hols': 4037,
 'run': 6720,
 'forgot': 3457,
 'hairdressers': 3849,
 'appointment': 1345,
 'shower': 7024,
 'cause': 2065,
 'prob': 6236,
 'ham': 3857,
 'okay': 5679,
 'price': 6211,
 'long': 4881,
 'legal': 4745,
 'ave': 1491,
 'ams': 1269,
 'gone': 3709,
 '4the': 725,
 'driving': 2929,
 'test': 7757,
 "you're": 8837,
 'mean': 5120,
 'guess': 3812,
 'gave': 3611,
 'boston': 1804,
 'men': 5158,
 'changed': 2106,
 'search': 6848,
 'location': 4858,
 'nyc': 5625,
 'cuz': 2560,
 'signin': 7055,
 'page': 5822,
 'says': 6807,
 'umma': 8137,
 'life': 4780,
 'vava': 8284,
 'lot': 4905,
 'dear': 2626,
 'wishes': 8593,
 'birthday': 1715,
 'making': 5032,
 'truly': 8053,
 'memorable': 5155,
 'aight': 1197,
 'hit': 4004,
 'ip': 4350,
 'address': 1127,
 'considering': 2380,
 'computer': 2343,
 "isn't": 4376,
 'minecraft': 5210,
 'server': 6912,
 'grumpy': 3800,
 'old': 5691,
 'people': 5932,
 'mom': 5291,
 'better': 1679,
 'lying': 4971,
 'jokes': 4488,
 'worry': 8661,
 'busy': 1933,
 'plural': 6059,
 'noun': 5589,
 'research': 6576,
 'dinner.msg': 2784,
 'cos': 2430,
 'things': 7824,
 'scared': 6813,
 'mah': 5015,
 'loud': 4914,
 'gent': 3630,
 'contact': 2385,
 'weekends': 8492,
 'draw': 2911,
 'shows': 7030,
 '09064012160': 282,
 'k52': 4538,
 '12hrs': 398,
 '150ppm': 419,
 'wa': 8378,
 'openin': 5722,
 'sentence': 6902,
 'formal': 3461,
 'juz': 4529,
 'tt': 8066,
 'eatin': 3002,
 'puttin': 6330,
 'weight': 8497,
 'haha': 3843,
 'anythin': 1317,
 'happened': 3878,
 'entered': 3095,
 'cabin': 1959,
 "b'day": 1517,
 'boss': 1803,
 'felt': 3313,
 'askd': 1420,
 'invited': 4343,
 'apartment': 1324,
 'went': 8512,
 'specially': 7284,
 'holiday': 4034,
 'flights': 3396,
 'operator': 5726,
 '08712778109': 166,
 '10p': 368,
 'min': 5203,
 'goodo': 3723,
 'friday': 3515,
 'egg-potato': 3030,
 'ratio': 6407,
 'tortilla': 7980,
 'needed': 5474,
 'hmm': 4016,
 'uncle': 8146,
 'informed': 4289,
 'paying': 5910,
 'school': 6819,
 'directly': 2790,
 'food': 3435,
 'private': 6227,
 '2004': 485,
 'account': 1094,
 'statement': 7389,
 '07742676969': 64,
 '786': 853,
 'unredeemed': 8189,
 'points': 6079,
 '08719180248': 213,
 'identifier': 4201,
 '45239': 699,
 'expires': 3209,
 '2000': 483,
 'caller': 1978,
 '5/9': 742,
 '03': 46,
 'landline': 4680,
 '09064019788': 288,
 'box': 1816,
 '42wr29c': 683,
 'apples': 1340,
 'pairs': 5831,
 'malarky': 5034,
 'todays': 7929,
 'voda': 8346,
 'numbers': 5610,
 'ending': 3072,
 '7548': 845,
 '350': 617,
 'award': 1503,
 'match': 5085,
 '08712300220': 149,
 'quoting': 6366,
 '4041': 667,
 'standard': 7369,
 'rates': 6406,
 'app': 1334,
 'sao': 6776,
 'mu': 5366,
 'ìï': 8902,
 'predict': 6173,
 "ì_'ll": 8900,
 'buying': 1941,
 'yetunde': 8820,
 "hasn't": 3898,
 'sent': 6901,
 'bother': 1806,
 'sending': 6893,
 'involve': 4347,
 "shouldn't": 7018,
 'imposed': 4240,
 'apologise': 1331,
 'girl': 3662,
 'del': 2667,
 'bak': 1551,
 'lucyxx': 4954,
 'tmorrow.pls': 7910,
 'accomodate': 1089,
 'answer': 1300,
 'sunshine': 7558,
 'quiz': 6361,
 'q': 6336,
 'sony': 7227,
 'dvd': 2971,
 'player': 6040,
 'country': 2449,
 'algarve': 1226,
 'ansr': 1299,
 '82277': 896,
 'sp': 7264,
 'tyrone': 8108,
 'laid': 4672,
 'dogging': 2857,
 'locations': 4859,
 'direct': 2789,
 'join': 4479,
 "uk's": 8130,
 'largest': 4697,
 'bt': 1894,
 'txting': 8097,
 'gravel': 3765,
 '69888': 811,
 'nt': 5597,
 'ec2a': 3005,
 '31p': 604,
 '@150p': 1028,
 'haf': 3842,
 'msn': 5358,
 'yijue@hotmail.com': 8825,
 'rooms': 6685,
 'befor': 1645,
 'activities': 1115,
 "you'll": 8836,
 'msgs': 5357,
 'chat': 2127,
 'svc': 7594,
 'hardcore': 3888,
 'services': 6914,
 '69988': 815,
 'age': 1175,
 'yr': 8856,
 'lazy': 4722,
 'type': 8105,
 'lect': 4739,
 'pouch': 6135,
 'sir': 7081,
 'mail': 5020,
 'swt': 7623,
 'nver': 5618,
 'tired': 7891,
 'little': 4839,
 'lovable': 4918,
 'persons': 5957,
 'coz': 2462,
 'somtimes': 7222,
 'occupy': 5644,
 'd': 2565,
 'biggest': 1697,
 'hearts': 3938,
 'gud': 3808,
 'ni8': 5512,
 'open': 5719,
 'ya': 8787,
 'dot': 2888,
 'whats': 8531,
 'staff': 7359,
 'taking': 7662,
 'replied': 6560,
 'randy': 6399,
 'sexy': 6929,
 'female': 3314,
 'local': 4857,
 'luv': 4962,
 'netcollex': 5492,
 '08700621170': 119,
 'ummma.will': 8139,
 'in.our': 4250,
 'begin': 1650,
 'qatar': 6337,
 'pray': 6166,
 'hard': 3887,
 'deleted': 2671,
 'sindu': 7071,
 'birla': 1711,
 'soft': 7197,
 'wine': 8578,
 'flowing': 3410,
 'nevering': 5499,
 'thk': 7833,
 'plaza': 6046,
 'typical': 8107,
 'dirt': 2793,
 'floor': 3404,
 'windows': 8575,
 'shirt': 6983,
 'mouth': 5337,
 'dream': 2914,
 'chores': 2198,
 'joy': 4501,
 'lots': 4908,
 'tv': 8085,
 'i.ll': 4175,
 'exist': 3194,
 'hail': 3846,
 'mist': 5243,
 'aaooooright': 1051,
 'leaving': 4738,
 'house': 4089,
 'interview': 4330,
 'boy': 1817,
 'missing': 5237,
 'annoncement': 1291,
 'years': 8804,
 '07046744435': 57,
 'arrange': 1395,
 '08712778108': 165,
 'safe': 6749,
 'envy': 3109,
 "see's": 6866,
 'parents': 5860,
 'hand': 3860,
 'excited': 3182,
 'spend': 7296,
 'bootydelious': 1795,
 '32': 605,
 'f': 3229,
 'inviting': 4344,
 'friend': 3520,
 '434': 685,
 'www.sms.ac/u/bootydelious': 8735,
 'frnd': 3530,
 '62468': 789,
 'bangbabes': 1565,
 'order': 5750,
 'content': 2389,
 'goto': 3736,
 'bangb': 1564,
 'internet': 4329,
 'menu': 5165,
 'cultures': 2533,
 'module': 5284,
 '09061701939': 265,
 's89': 6738,
 'avoid': 1497,
 'missunderstding': 5241,
 'wit': 8598,
 'beloved': 1665,
 "one's": 5703,
 'escape': 3130,
 'fancy': 3266,
 'bridge': 1853,
 'needs': 5478,
 'lager': 4671,
 'completely': 2333,
 'form': 3460,
 'clark': 2221,
 'utter': 8251,
 'waste': 8434,
 'axis': 1511,
 'bank': 1567,
 'hmmm': 4017,
 'hop': 4060,
 'muz': 5403,
 'discuss': 2809,
 'liao': 4771,
 'coming': 2308,
 'bloody': 1755,
 'hell': 3951,
 'believe': 1656,
 'surname': 7584,
 'mr': 5346,
 'ill': 4219,
 'clue': 2257,
 'spanish': 7271,
 'begins': 1651,
 ...}

In [96]:
print(vec.get_feature_names_out())
print(len(vec.get_feature_names_out()))

['!' '"' '#' ... 'ûïharry' 'ûò' 'ûówell']
8917

In [97]:
X_transformed= vec.transform(X)
X_transformed

<5572x8917 sparse matrix of type '<class 'numpy.float64'>'
	with 56818 stored elements in Compressed Sparse Row format>

In [98]:
X=X_transformed.toarray()
X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [99]:
pd.DataFrame(X, columns=vec.get_feature_names_out())

,!,"""",#,#150,#5000,$,%,&,',(,...,û,û_,û_thanks,ûªm,ûªt,ûªve,ûï,ûïharry,ûò,ûówell
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.106072,0.137325,0.132367,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.098635,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [100]:
pd.DataFrame(X, columns=vec.get_feature_names_out())

,!,"""",#,#150,#5000,$,%,&,',(,...,û,û_,û_thanks,ûªm,ûªt,ûªve,ûï,ûïharry,ûò,ûówell
0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.106072,0.137325,0.132367,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0.098635,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5568,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5569,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5570,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5571,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [101]:
df2 = pd.read_csv("/content/drive/MyDrive/Test_spam.csv", encoding='latin-1') 

from sklearn.preprocessing import LabelEncoder

test_numpy_array = df2.values
X_test = test_numpy_array[:, 0]
y_test = test_numpy_array[:, 1]

# Convert y_test labels to integers using LabelEncoder
label_encoder = LabelEncoder()
y_test = label_encoder.fit_transform(y_test)

print("X_test:")
print(X_test)
print("y_test:")
print(y_test)

X_test:
['spam' 'ham' 'ham' 'spam' 'spam' 'ham' 'spam' 'spam' 'ham' 'ham' 'spam'
 'ham']
y_test:
[ 2  1  0 10  3  5  8  9  6  4 11  7]

In [102]:
X_test_transformed=vec.transform(X_test)
X_test_transformed

<12x8917 sparse matrix of type '<class 'numpy.float64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [103]:
X_test=X_test_transformed.toarray()
X_test

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [104]:
from sklearn.naive_bayes import MultinomialNB

mnb= MultinomialNB()

mnb.fit(X,y)

mnb.predict_proba(X_test)

array([[0.74398911, 0.25601089],
       [0.87332561, 0.12667439],
       [0.87332561, 0.12667439],
       [0.74398911, 0.25601089],
       [0.74398911, 0.25601089],
       [0.87332561, 0.12667439],
       [0.74398911, 0.25601089],
       [0.74398911, 0.25601089],
       [0.87332561, 0.12667439],
       [0.87332561, 0.12667439],
       [0.74398911, 0.25601089],
       [0.87332561, 0.12667439]])

In [105]:
from sklearn.metrics import accuracy_score   
y_prediction = mnb.predict(X_test)


acc = accuracy_score(y_test, y_prediction)


print("Accuracy:", acc)

Accuracy: 0.08333333333333333